
nav{
    background-color: green;
    height: 75px;
    display: flex;
    align-items: flex-end;
}

.nav_container{
    display: flex;
    align-content:center;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.nav_options > a{
    text-decoration: none;
    color:white;
}

.nav_options{
    display: flex;
    width: 10%;
    justify-content: space-between;
}
