
nav{
    background-color: #29a829;
    height: 75px;
    display: flex;
    align-items: flex-end;
}

.nav_container{
    display: flex;
    align-content:center;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.nav_logo{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav_logo > *{
    margin-right: 15%;
}

.nav_sidebar_icons{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.nav_options > .nav-btn {
    text-decoration: none;
    color:white;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.nav_options{
    display: flex;
    width: 10%;
    min-width: 130px;
    justify-content: space-between;
}

.nav_cart_icon{
    margin-left: 70%;
    font-size: 25px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    left: 0px;
    transition: all 0.2s linear;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0 8px 1px rgb(211, 211, 211);
}

.sidebar_container{
    margin-left: 5%;
    margin-top: 5%;
}

.sidebar_userInfo {
    font-size: 20px;
}

.arrow-button{
    margin-left: 85%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
}

.arrow-button:hover{
    box-shadow: 2.25px 2.25px 2.25px 2.25px lightgray;
}

.shopping_cart_bar{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 500px;
    left: 100%;
    transition: all 0.2s linear;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0 8px 1px rgb(211, 211, 211);
}

@media only screen and (max-device-width: 500px) {
    .shopping_cart_bar {
        width: 100%;
    }
}


.cart_container{
    margin-left: 5%;
    margin-top: 5%;
}

.cart_arrow_button{
    margin-right: 85%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
}

.cart_arrow_button:hover{
    box-shadow: 2.25px 2.25px 2.25px 2.25px lightgray;
}

.cart_title{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
}

.logo{
    position: absolute;
    top: 3px;
    /* width: 120px; */
    height: 80px;
}
