/* TODO Add site wide styles */
button:hover {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
    cursor: pointer;
}

.error{
    color: red;
}
