
.form-container, .edit-form-container{
    margin: 10px auto;
    width: 400px;
}

.create-product-form, .edit-product-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 400px;
    height: auto;
    max-height: 520px;
    padding: 0px;
    font-family: "Open Sans", Arial, sans-serif;
}

textarea{
    font-family: "Open Sans", Arial, sans-serif;
    resize: none;
    font-family: "Open Sans", Arial, sans-serif;
    border-radius: 6px;
    border: solid .5px rgb(150, 149, 149);
    width: 300px;
    font-size: 15px;
    padding-left: 10px;
}

.create-product-form div, .edit-product-form div{
    margin-top: 10px;
}

.create-product-btn,
.edit-form-btns button{
    border: none;
    background-color: yellowgreen;
    color: white;
    width: 315px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.create-product-form input,
.edit-product-form input{
    font-family: "Open Sans", Arial, sans-serif;
    border-radius: 6px;
    border: solid .5px rgb(150, 149, 149);
    width: 300px;
    height: 35px;
    font-size: 15px;
    padding-left: 10px;
}

input.form-price{
    width: 240px;
}

.create-form-header {
    font-size: 30px;
}

.edit-product-form label {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 5px;
}
