.product-details-container {
    display: grid;
    grid-template-columns: 320px 100px 100px;
    grid-template-areas:
        "img header header"
        "img price edit"
        "add-btn description description"
    ;
    margin: auto;
    width: 600px;
}

.product-add-to-cart button:hover,
.product-edit-btn button:hover,
.edit-form-btns button:hover {
    background-color: rgb(116, 155, 39);
}

.product-img-container {
    grid-area: img;
    width: fit-content;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.product-img-container img {
    max-width: 300px;
}

.product-header {
    grid-area: header;
    text-align: left;
    font-size: 40px;
}

.product-price {
    grid-area: price;
    font-size: 30px;
}

.product-description {
    grid-area: description;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    font-size: 18px;
    overflow-y: auto;
    overflow-wrap:break-word;
}

.product-edit-btn {
    grid-area: edit;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.product-edit-btn button,
.product-add-to-cart button {
    background-color: yellowgreen;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.product-add-to-cart {
    grid-area: add-btn;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 25px;
}

.product-avg-rating{
    padding-top: 20px;
    font-size: 20px;
    width:auto;
}

.product-avg-rating i{
    color: yellowgreen;
}

.pointer{
    cursor: pointer;
}
