.errors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
    top: 30px;
    color: red;
    margin: 10px 5px 10px 5px;
    position: absolute;
}

form {
    display: flex;
    flex-direction: column;

}

.logout-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: auto;
    cursor: pointer;
}

.logout-btn:hover {
    box-shadow: 2.25px 2.25px 2.25px 2.25px lightgray;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-form  input, .modal-login-btn {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-family: "Open Sans", Arial, sans-serif;
    border-radius: 6px;
    border: solid .5px rgb(150, 149, 149);
    width: 300px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
}

.signup-form  input, .modal-signup-btn {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-family: "Open Sans", Arial, sans-serif;
    border-radius: 6px;
    border: solid .5px rgb(150, 149, 149);
    width: 300px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
}

.modal-login-btn,
.modal-signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: yellowgreen;
    color: white;
    width: 315px;
    text-align: center;
    font-size: 20px;
}

.login-header,
.signup-header {
    font-size: 30px;
}
